.thing {
    /* width: 200px; */
    /* height: 100px; */
    background: transparent;
    position: absolute;
    /* border: 1px solid #666666; */
    border: 2px solid #666666;
    background-color: #ccc;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 3px #000;
    -ms-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000; */
    cursor: move;
  }

  /* .column {
    height: 150px;
    width: 150px;
    float: left;
    border: 2px solid #666666;
    background-color: #ccc;
    margin-right: 5px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px #000;
    -ms-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000;
    text-align: center;
    cursor: move;
  } */
  
  .thing span {
    display: block;
    margin-left: 95px;
    margin-top: 40px;
    /* align-content: center */
  }

  .thing table {
    border-collapse: collapse;
    width: 100%;

    
  }


  .thing th, .thing td {
    text-align: left;
    padding: 8px;    
  }

  .thing th{
    text-align: center;
    }

  .thing tr:nth-child(even){background-color: #f2f2f2}

.thing th {
  background-color: #4CAF50;
  color: white;
  

}

.thing tr:first-child th:first-child { border-top-left-radius: 10px; border-bottom: 2px solid #666666;}
.thing tr:first-child th:last-child { border-top-right-radius: 10px; }
.thing tr:last-child td:first-child { border-bottom-left-radius: 10px; }
.thing tr:last-child td:last-child { border-bottom-right-radius: 10px; }

  .muConnector {
    position: absolute;
    border-left: 1px solid red;
    z-index: 100;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
  }

